.nav {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80px; 
    background-color: rgb(39, 39, 39);
    display: flex;
    border-bottom: 2px solid white;
    z-index: 1;
    justify-content: center

}

.left {
    width: 156px;
}

.center {
    display: flex;
    align-items: center;
    gap: 10%;
    font-weight: bold;
    font-size: 1.2em;
}

.center img {
    height: 90%;
    
}

.right{
}

.img{
    height: 90%;
    top: 0;
    right: 0;
}

.butao{
    height: 200%;
    position: absolute;
    top: 0;
    right: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
    justify-content: center;
    background-color:  rgb(39, 39, 39);
    align-items: center;
    border-top: 2px solid white;
    z-index: 1;
}

.left img{
    width: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

